@theme "~/.cache/wal/colors-rofi-dark.rasi"
* {
  font: "JetBrains Mono Nerd Font 12";
  show-icons: true;
  text-color: @foreground;
  }
configuration {
  show-icons: true;
  yoffset: -510;
  }
#window {
    border: 0px;
    border-color: @foreground;
    border-radius: 0px;
    width: 20%;
  }
